version: "3.9"
services:
  api:
    build: ./backend
    ports: [ "8000:8000" ]
    volumes: [ "./backend/app:/app/app", "./backend/uploads:/app/uploads" ]
  web:
    build: ./frontend
    ports: [ "5173:5173" ]
    environment:
      - VITE_API_URL=http://localhost:8000/api/v1
    volumes: [ "./frontend:/app" ]
    command: ["npm","run","dev","--","--host"]
